@page "/genre/edit/{GenreId:int}"
@inject IGenreRepository genreRepository
@inject NavigationManager navigationManager

<h3>EditGenre</h3>

@if (genre != null)
{
    <GenreForm Genre="genre" OnValidSubmit="Edit"></GenreForm>
}


@code {
    [Parameter] public int GenreId { get; set; }
    public Genre genre;

    protected override async Task OnInitializedAsync()
    {
        genre = await genreRepository.GetGenres(GenreId);
    }

    private void Edit()
    {
        Console.WriteLine("Create method");
        Console.WriteLine(genre.Name);

        try
        {
            genreRepository.UpdateGenre(genre);
            navigationManager.NavigateTo("genres");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

    }
}
