
<div class="individual-movie-container">
    <a>
        <img src="@Movie.Poster" alt="Poster" class="movie-poster" />
    </a>
    <p>Title: @Movie.TitleBrief</p>
    @*<p>Release Date: <b>@Movie.ReleaseDate.ToString("dd MMM yyyy")</b></p>*@
    @if (DisplayButtons)
    {
        <div>
            @*<button @onclick="Delete">Delete</button>*@
            <button @onclick="@(() => DeleteMovie.InvokeAsync(Movie))">Delete</button>
        </div>
    }

</div>

@code {
    [Parameter]
    public Movie Movie { get; set; }
    [Parameter]
    public bool DisplayButtons { get; set; } = false;

    [Parameter]
    public EventCallback<Movie> DeleteMovie { get; set; }

    //void Delete()
    //{
    //    Console.WriteLine($"Deleting {Movie.Title}.");
    //}
}
