@page "/"

@*<p>Hello, @StringUtilities.CustomToUpper(name)</p>

    <p>Let's add 2 + 2 = @(2 + 2)</p>

    <button @onclick="@(() => Console.WriteLine("I've been clicked!"))">Click me</button>
    <button @onclick="@WriteInLog">Click me</button>
*@


<div>
    <h3>Movie</h3>
    <MoviesList Movies="movies"></MoviesList>
</div>

<div>
    <h2>Create a movie</h2>

    @*<DummyTextBox placeholder="Movie name" disabled="true"></DummyTextBox>*@
    <DummyTextBox @attributes="dummyTextboxParameters"></DummyTextBox>
</div>
@code {

    private List<Movie> movies;
    private Dictionary<string, object> dummyTextboxParameters = new Dictionary<string, object>() {
                                    { "placeholder", "New movie name"},
                                    { "disabled", "true"}
                                    };

    protected override void OnInitialized()
    {

        // Simulate waiting for database
        //await Task.Delay(3000);

        movies = new List<Movie>()
        {
            new Movie(){Title = "Spider-Man: Far From Home", ReleaseDate = new DateTime(2019, 7, 2)},
            new Movie(){Title = "Moana", ReleaseDate = new DateTime(2016, 11, 23)},
            new Movie(){Title = "Inception", ReleaseDate = new DateTime(2010, 7, 16)},
        };
    }

}