@page "/movies/create"
@inject NavigationManager navigationManager

<h3>Create Movie</h3>

@*<button class="btn btn-primary" @onclick="SaveMovie">Save Movie</button>*@

<MovieForm Movie="Movie" OnValidSubmit="SaveMovie" />


@code {
    private Movie Movie = new Movie();

    private void SaveMovie()
    {
        Console.WriteLine("This workssss");
        // Saving movie...
        //navigationManager.NavigateTo("movie");
    }
}
